#works.videos
  -@videos.each do |video|
    article.video
      iframe src="http://www.youtube.com/embed/#{video.youtube_id}?hd=true&showinfo=0&rel=0&modestbranding=1&fs=1" frameborder="0" allowfullscreen="true"
