#about
  #curriculum
    =link_to cv_catala_path, {target: '_blank'} do
      =image_tag("quisoc/curriculum.jpg", height: 338, width: 228)
      span Descarregar curriculum

  #text
    iframe src="http://www.youtube.com/embed/V93480cPiGY?hd=true&showinfo=0&rel=0&modestbranding=1&fs=1" frameborder="0" allowfullscreen="true"

    p Em dic Sílvia Puig Brujas, sóc <strong>il·lustradora i animadora tradicional 2D </strong>.

    p Sóc una artista amb una gran versatilitat en el camp de la il·lustració, ja sigui en l'aspecte tècnic com el de l'estil. Una característica que m'ha ajudat molt en el món de l'animació.

    p Realitzo il·lustracions amb tot tipus de tècniques: grafit, aquarel·les, gouache, acrílic, ceres... un exemple d'això és el videoclip de <a href="https://www.youtube.com/watch?v=xcrw-SHhG28"> Doctor Prats - De Matinada </a> i per descomptat servir una varietat d'eines en l'àmbit digital (Photoshop, Illustrator, Flash, Toon Boom ...).

    p En el món de la il·lustració he estat treballant en projectes de tot tipus, gràcies a això tinc experiència en la <strong> il·lustració de llibres i contes </strong>, així com il·lustracions per al <strong> sector editorial i publicitat </strong>. A més, també he tingut l'oportunitat de treballar en el món dels videojocs, fent des del <strong>disseny de personatges</strong> fins al <strong>art concept</strong> complet (definir l'estètica, menús, personatges, backgrounds, etc).

    p L'animació és la meva altra gran passió, he treballat tant en projectes personals (<a href="https://www.youtube.com/watch?v=1bk-No8P9M4">Mon Amour</a>, <strong>curt guanyador del premi d'animació i còmic Ciutat de Cornellà 2013</strong>) com en professionals, per exemple <a href="https://vimeo.com/64050732">Crickhowell's Pastor</a>. En aquests diferents projectes he treballat fent <strong>storyboards, animáticas, backgrounds, props, layouts, intercalats, cleanup i color</strong>.
