#about
  #curriculum
    =link_to cv_catala_path, {target: '_blank'} do
      =image_tag("quisoc/curriculum.jpg", height: 338, width: 228)
      span Descarregar curriculum

  #text
    iframe src="http://www.youtube.com/embed/n8fjfWB1rVA?hd=true&showinfo=0&rel=0&modestbranding=1&fs=1" frameborder="0" allowfullscreen="true"
    p Em dic Silvia Puig Brujas, sóc <strong>il·lustradora i animadora 2D</strong>.

    p Personalment em considero una persona amb diferents estils de dibuix, <strong>m'encanta trobar nous estils i tècniques de dibuix</strong> i aplicar-les, però sobretot el camp de l'animació és que més m'atrau, no només en l'àmbit del disseny de personatges, sinó en la mateixa tècnica tradicional de l'animació.

    p Realitzo <strong>il·lustracions amb tot tipus de tècniques</strong>: grafit, aquarel·les, anilines, gouache, acrílic, ceres, paper de seda... i, és clar, també una verietat d'eines en l'àmbit digital (Photoshop, Illustrator, Flash, Toon Boom...).

    p En el món de la il·lustració he estat treballant en projectes de tota mena, gràcies a això tinc experiència en la <strong>il·lustració de llibres i contes</strong>, així com il·lustracions per al <strong>sector editorial i publicitat</strong>. A més, també he tingut la oportunitat de treballar en el món dels videojocs, fent desde del <strong>disseny de personatges</strong> fins a l'<strong>art concept</strong> complet (definir l'estètica, menús, personatges, backgrounds, etc).

    p L'animació és la meva altra gran passió, així que hi he treballat tant en projectes personals (<a href="https://www.youtube.com/watch?v=1bk-No8P9M4">Mon Amour</a>, <strong>curt guanyador del premi d'animació i còmic Ciutat de Cornellà 2013</strong>) com en professionals. En aquests diferents projectes he treballat fent <strong>storyboards, animàtiques, backgrounds, props, layouts, intercalats, cleanup o color</strong>.
