#about
  #curriculum
    =link_to cv_es_path, {target: '_blank'} do
      =image_tag("quisoc/curriculum.jpg", height: 322, width: 228)
      span Descargar curriculum

  #text
    iframe src="http://www.youtube.com/embed/V93480cPiGY?hd=true&showinfo=0&rel=0&modestbranding=1&fs=1" frameborder="0" allowfullscreen="true"
    p Me llamo Silvia Puig Brujas, soy <strong>ilustradora y animadora 2D</strong>.

    p Personalmente me considero una persona con diferentes estilos de dibujo, <strong>me encanta encontrar nuevos estilos y técnicas de dibujo</strong> y aplicarlas, pero sobre todo el campo de la animación es que más me atrae, no sólo en el ámbito del diseño de personajes, sino en la misma técnica tradicional de la animación.

    p Realizo <strong>ilustraciones con todo tipo de técnicas</strong>: grafito, acuarelas, anilinas, gouache, acrílico, ceras, papel de seda ... y también una variedad de herramientas en el ámbito digital (Photoshop, Illustrator, Flash, Toon Boom...).

    p En el mundo de la ilustración he estado trabajando en proyectos de todo tipo, gracias a ello tengo experiencia en la <strong>ilustración de libros y cuentos</strong>, así como ilustraciones para el <strong>sector editorial y publicidad</strong>. Además, también he tenido la oportunidad de trabajar en el mundo de los videojuegos, haciendo desde el <strong>diseño de personajes</strong> hasta el <strong>art concept</strong> completo (definir la estética, menús, personajes, backgrounds, etc).

    p La animación es mi otra gran pasión, así que he trabajado tanto en proyectos personales (<a href="https://www.youtube.com/watch?v=1bk-No8P9M4">Mon Amour</a>, <strong>corto ganador del premio de animación y cómic Ciudad de Cornellà 2013</strong>) como en profesionales. En estos diferentes proyectos he trabajado haciendo <strong>storyboards, animáticas, backgrounds, props, layouts, intercalados, cleanup o color</strong>.
