#about
  #curriculum
    =link_to cv_en_path, {target: '_blank'} do
      =image_tag("quisoc/curriculum.jpg", height: 322, width: 228)
      span Download resume

  #text
    iframe src="http://www.youtube.com/embed/V93480cPiGY?hd=true&showinfo=0&rel=0&modestbranding=1&fs=1" frameborder="0" allowfullscreen="true"

    p My name is Silvia Puig Brujas, I am an <strong>illustrator and a 2D traditional animator</strong>.

    p I am an artist with great versatility when it comes to illustrating, either in the technical aspect as in the style. This has been something that has really helped me when animating.

    p  I draw illustrations with all kinds of techniques: graphite, watercolors, gouache, acrylic, wax... an example of this is the videoclip <a href="https://www.youtube.com/watch?v=xcrw-SHhG28">Doctor Prats - De Matinada</a> and of course I use a variety of tools in the digital world (Photoshop, Illustrator, Flash, Toon Boom...).

    p I've been working on illustration projects of all kinds, because of this I have experience in <strong>illustrating books and stories</strong> and in <strong>publishing and advertising illustrations</strong>. In addition, I've also had the opportunity to work in the video games, from <strong>character design</strong> to <strong>concept art</strong> (defining aesthetics, menus, characters, backgrounds, etc).

    p Animation is my other passion, I've worked both on personal projects (<a href="https://www.youtube.com/watch?v=1bk-No8P9M4">Mon Amour</a>, <strong>a short film awarded with Cornella City animation and comic 2013</strong>) and professional projects, <a href="https://vimeo.com/64050732">Crickhowell's Pastor</a>, for example. These different projects I have worked on <strong>storyboards, animatics, backgrounds, props, layouts, in betweens, cleanup or color</strong>.
