@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"
#about
  #curriculum
    float: left
    width: 228px
    height: 380px
    overflow: hidden
    a
      display: block

    img
      height: 338px

    span
      margin-top: 10px
      display: block
      font-weight: bold

  #text
    margin-left: 40px
    font-family: Helvetica, Arial, "sans-serif"
    font-size: 14px
    color: #555
    line-height: 21px
    float: left
    width: 600px

    iframe
      width: 600px
      height: 338px
      margin-bottom: 15px
