#gallery
  width: 225px
  height: 440px
  float: left
  margin-right: 15px
  #thumbnails
    height: 430px
    ul
      margin: 0
      padding: 0
      .thumbnail
        +column(2.5)
        margin-right: 15px
        margin-bottom: 15px
        margin-left: 0px
        height: 90px

#work
  width: 380px
  float: left
  margin-right: 15px

#work_information
  width: 250px
  height: 100px
  background: #EEEEEE
  float: right
  margin-bottom: 20px
  .title
    font-weight: bold
    padding-left: 15px
    height: 20px
    padding-top: 4px
    border-bottom: 4px solid white
  .description
    margin-top: 20px
    padding-left: 15px
    font-size: 12px
    font-weight: normal
