#sidebar
  padding: 10px
    right: 0px
  .logo
    margin-left: 15px
    width: 150px
    background-repeat: no-repeat
    li.menu_right
  .links
    +horizontal-list
    +single-text-shadow
    font-size: 12px
    margin-bottom: 10px
    height: 16px
    padding: 9px
    line-height: 24px
    background: image-url("button_sidebar.png")
  h1
    span
      display: none
    a
      background: image_url('logo.jpg')
      width: 130px
      height: 352px
      display: block
