#sidebar
  padding: 10px
    right: 0px
  .logo
    margin-left: 15px
    width: 150px
    background-repeat: no-repeat
  .links
    +horizontal-list
    margin-bottom: 10px
    padding: 9px
    line-height: 14px
    font-size: 14px
    border: 1px dotted #D5D5D5
    border-right: none
    border-left: none
    a
      text-decoration: none
  h1
    span
      display: none
    a
      background: image_url('logo.jpg')
      width: 130px
      height: 352px
      display: block
