#sidebar
  padding: 10px
    right: 0px

  h1
    margin-left: 15px
    width: 150px
    background-repeat: no-repeat
    span
      display: none
    a
      background: image_url('/images/logo.jpg')
      width: 130px
      height: 352px
      display: block

  ul#sidebar_navigation li, ul#language li
    +horizontal-list
    margin-bottom: 10px
    padding: 9px
    line-height: 14px
    font-size: 14px
    border: 1px solid #D5D5D5
    border-right: none
    border-left: none
    a
      color: $menu-color
      text-decoration: none
      +transition-property(color)
      +transition-duration(0.4s)
      &:hover, &.selected
        color: lighten($menu-color, 40%)
      &:hover
        +transition-property(color)
        +transition-duration(0.4s)
      &.selected
        color: $silvia-color
      &:hover
        color: $silvia-color

  ul#language
    margin-top: 15px

  ul#social
    list-style-type: none
    height: 30px
    li
      a
        float: left
        height: 30px
        width: 30px
        margin-right: 10px
      &#twitter a
        background: url('/images/icons.png')
        margin-left: 10px
      &#deviantart a
        background: url('/images/icons.png') -36px 0px no-repeat
      &#email a
        background: url('/images/icons.png') -72px 0px no-repeat
        margin-right: 0px
      span
        display: none
