#contact
  section#contact-form
    =simple_form_for @contact_form, url: contact_path, validate: true do |f|
      =f.input :name
      =f.input :email, as: :email
      =f.input :message, as: :text
      =f.submit
