= simple_form_for [ :backend, resource ], html: {class: 'form-vertical'} do |f|
  = f.input :name_ca, required: true
  = f.input :name_es, required: true
  = f.input :name_en, required: true
  = f.input :description_ca, as: :text, input_html: {class: 'input-xxlarge', rows: 5}
  = f.input :description_es, as: :text, input_html: {class: 'input-xxlarge', rows: 5}
  = f.input :description_en, as: :text, input_html: {class: 'input-xxlarge', rows: 5}
  = f.association :category, collection: Category.all
  = f.input :featured, required: true, as: :boolean

  #illustration
    = f.input :image
    = f.hidden_field :image_cache
    - if resource.image?
      = f.hidden_field :thumbnail_coordinates
      = image_tag(resource.image.url, id: 'image') if resource.image?

  .clear
  = f.submit class: 'btn'

javascript:
  var jcrop_api;
  function update_form(coords) {
    var json = JSON.stringify(coords);
    var thumb_input = $('#illustration_thumbnail_coordinates')
    var bounds = '';
    if (jcrop_api) {
      bounds = jcrop_api.getBounds().toString();
    }

    thumb_input[0].value = json + "#" + bounds;
  }

-if resource.thumbnail_coordinates.blank?
  javascript:
    $(function(){
      $('#image').Jcrop({
        onChange: update_form,
        onSelect: update_form,
        boxWidth: 900,
        boxHeight: 900,
      }, function(){
        jcrop_api = this;
      });
    });
-else
  javascript:
    $(function(){
      $('#image').Jcrop({
        onChange: update_form,
        onSelect: update_form,
        boxWidth: 900,
        boxHeight: 900,
        setSelect: [#{select_current_coordinates(resource.thumbnail_coordinates)}]
      }, function(){
        jcrop_api = this;
      });
    });
